<section class="signup-form">
  <form [formGroup]="signupForm"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email">
      <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="email.hasError('email')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password">
      <mat-hint align="end">{{password.value?.length}}/ 6</mat-hint>
      <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Your birth date"
        [matDatepicker]="picker"
        [max]="maxDate" formControlName="birthDate">
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthDate.hasError('required')">Date of birth is required</mat-error>
    </mat-form-field>
    <mat-checkbox formArrayName="agree" name="agree" color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
